.videocard{
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}
.videocard:hover{
    transform: scale(1.09);
}
.videocard > img{
     height: 300px;
     width: 500px;
     object-fit: contain;
}
.videocard >h2{
    padding-top: 10px;
}
.videoCard__stats{
    display: none;
}
.videocard:hover > .videoCard__stats{
    display: inline-flex;
}